.quiz .container{
    width: 100%;
    height: 80%;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 50px;
    border-radius: 10px;

}
.quiz .container hr{
    height: 2px;
    background: #707070;
    border: none;
}
.quiz .container h2{
    font-size: 25px;
    font-weight: 500;
}
.quiz .container ul li{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border : 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
}
.quiz .container div img{
    background-color: none !important;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    color: #262626;
    rotate: 180deg;
    margin-left: 500px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    right: 350px;
}
.quiz .container .index{
    margin: auto;
    font-size: 18px;

}
.quiz .container .correct{
    background: #dffff2;
    border-color: #00d397;
}
.quiz .container .wrong{
    background: #ffebeb;
    border-color: #ff4a4a;
}